body {
	margin: 0;
	background: rgb(85, 85, 85);
	color: rgb(185, 185, 185);
	font-family: Helvetica Neue Ultra UltraLight, Helvetica, Arial, sans-serif;
	font-weight: 100;
}
button {
	background: rgb(85, 85, 85);
	cursor: pointer;
	border: 0;
	border-radius: 0;
	backface-visibility: hidden;
	font-size: 1rem;
	line-height: 1.5rem;
	vertical-align: middle;
}
button.minesweeper-reset {
	font-size: 1.5rem;
}
button.-is-current {
	background: rgb(185, 185, 185);
}
button:focus {
	outline: none;
}
.minesweeper {
	position: relative;
	display: flex;
	flex-direction: column;
}
.minesweeper-controls {
	box-sizing: border-box;
	width: 280px;
	height: 100vh;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -280px;
	padding: 2rem;
	color: white;
	background: rgba(0,0,0,.8);
	transition: right .3s ease-in-out;
	font-size: .8rem;
}
.minesweeper-controls .controls-level {
	margin: .5rem;
	display: block;
}
.minesweeper-controls.-expanded {
	right: 0;
	left: inherit;
}
.minesweeper-controls .minesweeper-expand-toggle {
	cursor: pointer;
	position: absolute;
	right: 100%;
	top: 0;
	border: none;
	border-radius: 0;
	background: rgba(0,0,0,.8);
	display: inline-block;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	color: white;
	white-space: nowrap;
    font-size: .8rem;
    padding: .5rem;
    line-height: 1.5rem;
}
.minesweeper-controls .minesweeper-expand-toggle:focus {
	outline: none;
}
.minesweeper-status {
	max-height: 15vh;
	background: #55c191;
	color: #333;
	font-size: .8rem;
	display: flex;
	align-items: center;
}
.minesweeper-status .item {
	border-left: solid 2px rgb(85, 85, 85);
	padding: .5rem;
	line-height: 1.5rem;
}
.minesweeper-status .flagged {
	padding: 0 1rem;
	line-height: 30px;
	font-weight: bold;
}
.minesweeper-status .minesweeper-reset {
	cursor: pointer;
	margin: .1rem;
	border: none;
	border-radius: 0;
	background: none;
	display: inline-block;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	color: #333;
	font-size: 1.5rem;
}
.minesweeper-board {
	border: solid 1px rgb(85, 85, 85);
	box-sizing: border-box;
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
	max-width: 85vh;
}
.minesweeper-item {
	cursor: pointer;
	box-sizing: border-box;
	background: rgb(185, 185, 185);
	overflow: hidden;
	border: solid 1px rgb(85, 85, 85);
	color: rgb(85, 85, 85);
	transition: background .2s ease-out, border-color .2s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.minesweeper-item:after {
	content: " ";
	padding-top: 100%;
}
.minesweeper-item:hover {
	background: rgb(195, 195, 195);
}
.minesweeper-item.-is-cleared {
	background: rgb(138, 138, 138);
	cursor: default;
}
.minesweeper-item.-is-marked {
	background: rgb(216, 203, 19);
	cursor: default;
}
.minesweeper-item.-is-missmarked {
	background: rgb(187, 158, 30);
	cursor: default;
}
.minesweeper-item.-is-exposed {
	background: rgb(250, 116, 138);
	cursor: default;
}
.minesweeper-item.-is-triggered {
	background: rgb(255, 46, 81);
	cursor: default;
}
